.venv
__pycache__
.pytest_cache
.vscode
.DS_Store
test.db
.env
anomaly_web_app.egg-info/dependency_links.txt
anomaly_web_app.egg-info/PKG-INFO
anomaly_web_app.egg-info/requires.txt
anomaly_web_app.egg-info/SOURCES.txt
anomaly_web_app.egg-info/top_level.txt
build/lib
build/lib/app/chart.py
build/lib/app/config.py
build/lib/app/routes.py
build/lib/app/utils.py
dist/
